body{margin: 0; padding:0; background-color: #2f2f2f;}

#main{height: 900px;width: 900px;background-size:cover;
position: relative;left:200;top:20;}
#main .d1{height: 200px;width: 150px;box-shadow: 0 0 25px rgba(0,0,0,.7);position: absolute;
top:360px; background-image: url(car.jpg);background-size:900px 900px;background-position:0px -360px; z-index: 2; }
#main .d2{height: 500px;width: 300px;position: absolute;top:200px;left:100px; background-image: url(car.jpg);background-size:900px 900px;background-position:-100px -200px; z-index: 1;}
#main .d3{height: 600px;width: 250px;box-shadow: 0 0 25px rgba(0,0,0,.7);position: absolute;
top:150px;left:350px; background-image: url(car.jpg);background-size:900px 900px;background-position:-350px -150px; z-index: 3;}
#main .d4{height: 400px;width: 400px;position: absolute;
top:100px;left:500px; background-image: url(car.jpg);background-size:900px 900px;background-position:-500px -100px; z-index: 1;}

#content {height: auto; width: auto; border-right:10px solid white; text-align: right; font-family: 'Nanum Pen Script', cursive; font-size: 80px; letter-spacing: 20px; color:white; position: absolute; bottom: -18%; right:15%; z-index: 99;}

@media (max-width:700px){
    #main {left:50px;top:0;}
    #content {font-size: 50px;bottom:-15%; right:-158%; border: 0;} 
}